:root {
  --size: 16;
  --color: 'red';
}

#grid-container {
  display: inline-grid;
  grid-template-columns: repeat(var(--size), 1fr);
  width: 720px;
  height: 720px;
}

.grid-item {
  border: 1px solid rgb(146, 135, 135);
  margin-top: -1px;
  margin-left: -1px;
}
